<div class="tabla">
    <div class="columna">
        <img class="fotoprincipal" src="images/imagen1.jpg" height="400" weight="400" alt="Foto mia">
    </div>
    <div class="columna">
        <div>
            <h1>Hola,</h1>
            <h2>un poco sobre mi:</h2>
        </div>
        <div class="botonera">
            <ul>
                <li><a class="quiensoy" href="/quiensoy">Quien soy</a></li>
                <li><a class="paraleer" href="/paraleer">Mis Viajes</a></li>
                <li><a class="novedades" href="/novedades">Novedades</a></li>
            </ul>
        </div>
        <div class="Descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, dolore voluptas quidem voluptatem
                laboriosam unde earum aliquid nihil corporis culpa dolorem rem dicta nostrum exercitationem
                cumque
                provident beatae minima esse?</p>
        </div>
    </div>
</div>