<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fede Santillan</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/farrah.css">
</head>

<body>

    <header>
        <div class="holder">
            <h3>Federico Santillan</h3>
            <h5>Diseñador, Virtual Assistant y Viajero</h5>
        </div>
    </header>

    <nav>
        <div>
            <ul class="holder">
                <li><a class="{{#if isHome}}activo{{/if}}" href="/index">Home</a></li>
                <li class="nav-itemdropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Quien Soy</a>
                    <ul class="dropdown-menu">
                        <li><a class="{{#if isQuiensoy}}activo{{/if}}" class="dropdown-item" href="/quiensoy">Quien Soy</a></li>
                        <li><a class="{{#if isServicios}}activo{{/if}}" class="dropdown-item" href="#">Servicios</a></li>
                    </ul>
                </li>

                <li><a class="{{#if isParaleer}}activo{{/if}}" href="/paraleer">Para Leer</a></li>
                <li><a class="{{#if isNovedades}}activo{{/if}}" href="/novedades">Novedades</a></li>
                <li><a class="{{#if isContacto}}activo{{/if}}" href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
<main class="holder"></main>
    {{{body}}}
</main>

    <footer>
        <div class="cajaprincipal">
            <div class="call">
                <h6><i class="fa-solid fa-phone"></i></h6>
                <ul>
                    <li>T:+61 0 481 189 902</li>
                    <li>F: +61 0 480 200 567</li>
                </ul>
            </div>
            <div class="contact">
                <h6><i class="fa-solid fa-envelope"></i></h6>
                <p>info@fedesantillan.com</p>
            </div>
            <div class="followme">
                <ul>
                    <li><a href="facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Diseñado por Federico Santillan</p>
                <p>&copy;2022</p>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</body>

</html>