 <div class="container">

            <div class="mains">
                <div class="view view-first">
                    <img src="images/img_2.jpg" width="300" height="200"/>
                    <div class="mask">
                        <h2>Limpia tu mente atraves de una dieta</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                            spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Seguir Leyendo</a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="images/img_3.jpeg" width="300" height="200"/>
                    <div class="mask">
                        <h2>Cuales son tus valores?</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                            spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Seguir Leyendo</a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="images/img_4.jpg" width="300" height="200"/>
                    <div class="mask">
                        <h2>Primer año viajando</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                            spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Seguir Leyendo</a>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="images/img_5.jpg" width="300" height="200"/>
                    <div class="mask">
                        <h2>Que ver en Salvador de Bahia</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                            spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Seguir Leyendo</a>
                    </div>
                </div>
            </div>
        </div>