    <div>
            <h4>HOLA, SOY FEDERICO SANTILLAN, TU FUTURO ASISTENTE VIRTUAL</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, laborum quaerat nisi autem nobis soluta pariatur quidem id nulla laboriosam quo voluptas quos asperiores quisquam dicta accusantium non eius dolore!</p>
            <button><a href="/contacto">Vamos a conversar!</a></button>
        </div>